$neutralAccent: #f7f5fc;
$neutralAccentDark: #e2dded;

$neutralTextColor: #000;

$neutralToggleThumb: #645a7d;
$neutralToggleBorder: #aaa4b9;
$neutralToggleActive: #9d93b5;

$neutralButtonNipple: #7969a1;
$neutralButtonActive: #e5e1ef;
$neutralButtonHover: #f5f2fd;