<div class="app-side-menu side-menu collapsed">
    <div class="container">

        <div class="side-menu__button expand-button">
            <div class="side-menu__button__icon">
                <img src="/static/media/icons/windows-color-icon-hamburger.png" alt="Menu" />
            </div>
            <div class="side-menu__button__text">
                <span>Menu</span>
            </div>
        </div>

        <div class="side-menu__button">
            <div class="side-menu__button__icon">
                <img src="/static/media/icons/windows-color-icon-search.png" alt="Search" />
            </div>
            <div class="side-menu__button__text">
                <span>Search</span>
            </div>
        </div>

        <div class="side-menu__button changable navigation-button" data-href="/tabs/settings">
            <div class="side-menu__button__icon">
                <img src="/static/media/icons/windows-color-icon-settings.png" alt="Settings" />
            </div>
            <div class="side-menu__button__text">
                <span>Settings</span>
            </div>
        </div>

        <div class="side-menu__seperator"></div>

        <div class="side-menu__button changable active navigation-button" data-href="/tabs/convert">
            <div class="side-menu__button__icon">
                <img src="/static/media/icons/windows-color-icon-youtube.png" alt="Convert video's" />
            </div>
            <div class="side-menu__button__text">
                <span>Convert video's</span>
            </div>
        </div>

        <div class="side-menu__button changable navigation-button" data-href="/tabs/history">
            <div class="side-menu__button__icon">
                <img src="/static/media/icons/windows-color-icon-history.png" alt="Download history" />
            </div>
            <div class="side-menu__button__text">
                <span>Download history</span>
            </div>
        </div>

        <!--<div class="side-menu__button changable navigation-button" data-href="/tabs/file-converting">
        <div class="side-menu__button__icon">
            <img src="/static/media/icons/windows-icon-file-settings.png" alt="File converting" />
        </div>
        <div class="side-menu__button__text">
            <span>File converting</span>
        </div>
    </div>-->

        <div class="side-menu__seperator"></div>

        <a href="https://github.com/rohankanhaisingh/Fluent-Youtube-Downloader" target="_blank" style="color: inherit;">
            <div class="side-menu__button navigation-button">
                <div class="side-menu__button__icon">
                    <img src="/static/media/icons/windows-color-icon-about.png" alt="about" />
                </div>
                <div class="side-menu__button__text">
                    <span>About</span>
                </div>
            </div>
        </a>

        <a href="https://github.com/rohankanhaisingh/Fluent-Youtube-Downloader/docs/help" target="_blank" style="color: inherit;">
            <div class="side-menu__button navigation-button">
                <div class="side-menu__button__icon">
                    <img src="/static/media/icons/windows-color-icon-help.png" alt="help" />
                </div>
                <div class="side-menu__button__text">
                    <span>Help</span>
                </div>
            </div>
        </a>


        <p class="side-menu__disclaimer">This software is currently in it's development phase. Thing's may not work as expected. You can report any issues on <a href="https://github.com/babahgee/fluent-youtube-downloader" target="_blank">Github</a>.</p>
        <br />
        <p class="side-menu__disclaimer"><b>Fluent Youtube Downloader</b> by Rohan Kanhaisingh aka BabahGee.</p>

    </div>
</div>