<div class="app-titlebar titlebar">
    <div class="titlebar__title"><span>Fluent Youtube Downloader</span></div>
    <div class="titlebar__centered"></div>
    <div class="titlebar__control-buttons">
        <div class="titlebar__control-buttons__button" data-action="minimize">
            <img src="/static/media/icons/windows-icon-minus.png" alt="Minimize" />
        </div>
        <div class="titlebar__control-buttons__button" data-action="maximize">
            <img src="/static/media/icons/windows-icon-square.png" alt="Maximize" />
        </div>
        <div class="titlebar__control-buttons__button" data-action="close">
            <img src="/static/media/icons/windows-icon-close.png" alt="Close" />
        </div>
    </div>
</div>