@use "./utilities/_constants" as constants;
@use "./utilities/_accents" as accents;
@use "./utilities/_mixins" as mixins;

$contentHeight: calc(100vh - constants.$titleBarHeight - (constants.$titleBarVerticalPadding * 2));

@keyframes content-fadein {
    0% {
        opacity: 0;
        -moz-transform: translateY(30px) scale(0.99);
        -ms-transform: translateY(30px) scale(0.99);
        -o-transform: translateY(30px) scale(0.99);
        -webkit-transform: translateY(30px) scale(0.99);
        transform: translateY(50px) scale(0.99);
    }
    100% {
        opacity: 1;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}

.app {
    background-color: accents.$neutralAccent;

    .app-grid-seperator {
        width: 100vw;
        height: calc(100vh - constants.$titleBarHeight - (constants.$titleBarVerticalPadding * 2));
        display: grid;
        overflow: hidden;
        grid-template-columns: 220px auto;
        -moz-transition: grid-template-columns constants.$transitionDuration constants.$transitionKey;
        -o-transition: grid-template-columns constants.$transitionDuration constants.$transitionKey;
        -webkit-transition: grid-template-columns constants.$transitionDuration constants.$transitionKey;
        transition: grid-template-columns constants.$transitionDuration constants.$transitionKey;
    }

    &.side-menu-collapsed {
        .app-grid-seperator {
            grid-template-columns: 65px auto;
        }
    }

    .app-content {
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        padding: 40px;
        border-top-left-radius: 15px;
        background: accents.$neutralAccentDark;
        overflow: hidden;

        .content-swappable {
            height: calc($contentHeight - 80px);
            overflow-y: auto;
            overflow-x: hidden;

            &.fadein {
                -moz-animation: content-fadein .5s constants.$transitionKey;
                -o-animation: content-fadein .5s constants.$transitionKey;
                -webkit-animation: content-fadein .5s constants.$transitionKey;
                animation: content-fadein .5s constants.$transitionKey;
            }
        }
    }
}

// ====================== THEMES ======================

body.theme-dark {
    .app {
        background-color: accents.$themedNeutralAccent;
    }

    .app-content {
        background: accents.$themedNeutralAccentDark;
    }
}