<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr" class="fluent-youtube-downloader js-enabled will-update-frequently" theme="<%- applicationTheme -%>">
<head>
    <%- include("components/_head", {title: "Youtube Converter - Rohan Kanhaisingh", description: "Convert Youtube video's"}) -%>
    <link href="/static/styles/index.css" rel="stylesheet" />
    <title>Fluent Youtube Downloader</title>
</head>

<body class="app-body electron-body js-enabled">
    <div class="app spa-app electron-app side-menu-collapsed">
        <div class="container">

            <%- include("partials/_titlebar") -%>

            <div class="app-dialogs">

                <div class="dialog">
                    <div class="dialog__container container">
                        <div class="dialog__modal">
                            <div class="dialog__modal__titlebar">
                                <div class="dialog__modal__titlebar__container">
                                    <div class="dialog__modal__titlebar__text">Download is still active.</div>
                                    <img class="dialog__modal__titlebar__icon" src="/static/media/icons/windows-icon-close.png" alt="Close dialog" />
                                </div>
                            </div>
                            <div class="dialog__modal__content">
                                <div class="dialog__modal__content__container">
                                    Nigga, the download is still active. You should wait 'till the download is done, so you can continue your goofy ahh journey.

                                    BruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruhBruh
                                    <div class="dialog__modal__content__buttons">
                                        <fluent-button>Proceed</fluent-button>
                                        <fluent-button>Oh hell nawh</fluent-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="app-loader">
                <div class="container">
                    <div class="app-loader__icon">
                        <img src="/static/media/icons/icon.png" alt="icon" />
                    </div>
                    <svg class="spinner" style="margin: 40px auto;">
                        <circle>
                            <animateTransform attributeName="transform" type="rotate" values="-90;810" keyTimes="0;1" dur="2s" repeatCount="indefinite"></animateTransform>
                            <animate attributeName="stroke-dashoffset" values="0%;0%;-157.080%" calcMode="spline" keySplines="0.61, 1, 0.88, 1; 0.12, 0, 0.39, 0" keyTimes="0;0.5;1" dur="2s" repeatCount="indefinite"></animate>
                            <animate attributeName="stroke-dasharray" values="0% 314.159%;157.080% 157.080%;0% 314.159%" calcMode="spline" keySplines="0.61, 1, 0.88, 1; 0.12, 0, 0.39, 0" keyTimes="0;0.5;1" dur="2s" repeatCount="indefinite"></animate>
                        </circle>
                    </svg>
                    <div class="app-loader__author">Made by Rohan Kanhaisingh</div>
                    <div class="app-loader__footer">Fluent Youtube Downloader | Developed by Rohan Kanhaisingh | Build 0.3.4v17.12.2023</div>
                </div>
            </div>

            <div class="app-grid-seperator">
                <%- include("partials/_side-menu") -%>

                <div class="app-content">
                    <div class="content-swappable"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scripts/index.dist.js"></script>
</body>
</html>