<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr" class="fluent-youtube-downloader js-enabled will-update-frequently" theme="dark-blue">
<head>
    <%- include("components/_head", {title: "Youtube Converter - Rohan Kanhaisingh", description: "Convert Youtube video's"}) -%>
    <link href="/static/styles/index.css" rel="stylesheet" />
    <title>Fluent Youtube Downloader</title>
</head>

<body class="app-body electron-body js-enabled">

    <div class="app">

        <div style="margin-top: 100px"></div>
        <fluent-button class="button">Verwijder alle <b>niggers</b></fluent-button>
        <fluent-button class="button">Verwijder alle <b>turken</b></fluent-button>
    </div>

    <script src="/static/scripts/index-test.dist.js"></script>
</body>
</html>