<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include("components/_head", {title: "Youtube Converter - Rohan Kanhaisingh", description: "Convert Youtube video's"}) -%>
    <link href="/static/styles/index.css" rel="stylesheet" />
    <title>Fluent Youtube Downloader</title>
</head>
<body>
    <div class="app spa-app electron-app side-menu-collapsed">
        <div class="container">

            <%- include("partials/_titlebar") -%>

            <div class="app-loader">
                <div class="container">
                    <div class="app-loader__icon">
                        <img src="/static/media/icons/icon.png" alt="icon" />
                    </div>
                    <div class="app-loader__author">Made by Rohan Kanhaisingh</div>
                    <div class="app-loader__footer">Fluent Youtube Downloader | Developed by Rohan Kanhaisingh | Build 0.1.1v18.11.2023</div>
                </div>
            </div>

            <div class="app-grid-seperator">
                <%- include("partials/_side-menu") -%>

                <div class="app-content">
                    <div class="content-swappable"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scripts/index.dist.js"></script>
</body>
</html>