<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr" class="fluent-youtube-downloader js-enabled will-update-frequently" theme="dark-blue">
<head>
    <%- include("components/_head", {title: "Youtube Converter - Rohan Kanhaisingh", description: "Convert Youtube video's"}) -%>
    <link href="/static/styles/index.css" rel="stylesheet" />
    <title>Fluent Youtube Downloader</title>
</head>

<body class="app-body electron-body js-enabled">

    <div class="app">

        <%- include("partials/_titlebar") -%>

        <div style="margin-top: 400px;"></div>

        <fluent-select>
            <fluent-option value="Option 1">Option 1</fluent-option>
            <fluent-option value="Option 2">Option 2</fluent-option>
            <fluent-option value="Option 3">Option 3</fluent-option>
            <fluent-option value="Option 4">Option 4</fluent-option>
        </fluent-select>


        <div style="margin-top: 400px;"></div>

    </div>

    <script src="/static/scripts/index-test.dist.js"></script>
</body>
</html>