<spa-config>
    <spa-title>Convert page</spa-title>
    <spa-stylesheets>
        <spa-stylesheet href="/static/styles/tabs/_convert.css" type="text/css" rel="stylesheet"></spa-stylesheet>
    </spa-stylesheets>
    <spa-scripts>
        <!--<spa-script src="/static/scripts/controllers.convert.dist.js" type="text/javascript"></spa-script>-->
    </spa-scripts>
</spa-config>

<spa-dom-content>
    <div class="page-convert convert">
        <div class="convert__left"></div>
        <div class="convert__right">
            <div class="convert__right__container">

            </div>
        </div>
    </div>
</spa-dom-content>