<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Convert page</title>
</head>
<body>
    This is the convert page
    <fluent-button appearance="accent">Convert</fluent-button>
    <img src="https://media.tenor.com/3DsGjrjBGiUAAAAd/bababooey.gif" alt="Babooey" />
</body>
</html>