<spa-config>
    <spa-title>Convert page</spa-title>
    <spa-stylesheets>
        <spa-stylesheet href="/static/styles/tabs/_history.css" type="text/css" rel="stylesheet"></spa-stylesheet>
    </spa-stylesheets>
    <spa-scripts>
        <spa-script src="/static/scripts/controllers.history.dist.js" type="text/javascript"></spa-script>
    </spa-scripts>
</spa-config>

<spa-dom-content>
    <div class="page-history history">

        <h4 style="margin-bottom: 0;">Your download history</h4>
        <p>Video's you have downloaded will be shown down below.</p>

        <div class="history-container">
            <!--<div class="history-item">
                <div class="history-item__thumbnail">
                    <img src="https://i3.ytimg.com/vi/OOBXmJRPO_s/hqdefault.jpg" alt="Thumbnail" />
                </div>
                <div class="history-item__content">
                    <div class="history-item__filename">That bird that I hate.mp4</div>
                    <div class="history-item__timestamp">Downloaded 2 hours ago.</div>
                    <div class="history-item__hl"></div>
                    <div class="history-item__detail">Downloaded in: C:\\Users\\Eigenaar\\Documents\\Downloads\\that bird that I hate.mp4</div>
                    <div class="history-item__detail">File size: 0.53mb</div>
                    <div class="history-item__detail">Video URL: https://www.youtube.com/watch?v=OOBXmJRPO_s</div>
                </div>
                <div class="history-item__buttons">
                    <div class="history-item__buttons__button">Download</div>
                    <div class="history-item__buttons__button">Open</div>
                    <div class="history-item__buttons__button">Delete file</div>
                </div>
            </div>--> 
        </div>
    </div>
</spa-dom-content>