<spa-config>
    <spa-title>Convert page</spa-title>
    <spa-stylesheets>
        <spa-stylesheet href="/static/styles/tabs/_home.css" type="text/css" rel="stylesheet"></spa-stylesheet>
    </spa-stylesheets>
    <spa-scripts>
        <!--<spa-script src="/static/scripts/controllers.settings.dist.js" type="text/javascript"></spa-script>-->
    </spa-scripts>
</spa-config>

<spa-dom-content>
    <h1>Fluent Youtube Converter</h1>
</spa-dom-content>