<spa-config>
    <spa-title>Convert page</spa-title>
    <spa-stylesheets>
        <spa-stylesheet href="/static/styles/tabs/_home.css" type="text/css" rel="stylesheet"></spa-stylesheet>
    </spa-stylesheets>
    <spa-scripts>
        <spa-script src="/static/scripts/controllers.home.dist.js" type="text/javascript"></spa-script>
    </spa-scripts>
</spa-config>

<spa-dom-content>
    <div id="intro-text">
        <h2>Fluent Youtube Converter</h2>
        <p>Convert Youtube video's into any media format you like. This application is current in it's development phase, so things may not work.</p>
      </div>
    
    <seperator></seperator>

    <div id="recent-activity">
        <h3>Recent activity</h3>

        <div class="recent-activity-container recent-activity">
            <div class="activity">
                <div class="activity__thumbnail">
                    <img src="https://i.ytimg.com/vi/_t0qtSKOpO4/hq720.jpg" alt="Thumbnail" />
                </div>
                <div class="activity__description">
                    <div class="activity__description__wrapper">
                        <div class="activity__description__content">
                            <div class="activity__description__content__title" title="Chris Brown - Sensational feat. Davido & Lojay (Official Audio)">Chris Brown - Sensational feat. Davido & Lojay (Official Audio)</div>
                            <div class="activity__description__content__text">Converted 2 days ago.</div>
                        </div>
                        <div class="activity__description__button">
                            <img src="./static/media/icons/windows-icon-hamburger.png" alt="Menu" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="activity__thumbnail">
                    <img src="https://i.ytimg.com/vi/_t0qtSKOpO4/hq720.jpg" alt="Thumbnail" />
                </div>
                <div class="activity__description">
                    <div class="activity__description__wrapper">
                        <div class="activity__description__content">
                            <div class="activity__description__content__title" title="Chris Brown - Sensational feat. Davido & Lojay (Official Audio)">Chris Brown - Sensational feat. Davido & Lojay (Official Audio)</div>
                            <div class="activity__description__content__text">Converted 2 days ago.</div>
                        </div>
                        <div class="activity__description__button">
                            <img src="./static/media/icons/windows-icon-hamburger.png" alt="Menu" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="activity__thumbnail">
                    <img src="https://i.ytimg.com/vi/_t0qtSKOpO4/hq720.jpg" alt="Thumbnail" />
                </div>
                <div class="activity__description">
                    <div class="activity__description__wrapper">
                        <div class="activity__description__content">
                            <div class="activity__description__content__title" title="Chris Brown - Sensational feat. Davido & Lojay (Official Audio)">Chris Brown - Sensational feat. Davido & Lojay (Official Audio)</div>
                            <div class="activity__description__content__text">Converted 2 days ago.</div>
                        </div>
                        <div class="activity__description__button">
                            <img src="./static/media/icons/windows-icon-hamburger.png" alt="Menu" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</spa-dom-content>