<spa-config>
    <spa-title>Convert page</spa-title>
    <spa-stylesheets>
        <spa-stylesheet href="/static/styles/tabs/_settings.css" type="text/css" rel="stylesheet"></spa-stylesheet>
    </spa-stylesheets>
    <spa-scripts>
        <spa-script src="/static/scripts/controllers.settings.dist.js" type="text/javascript"></spa-script>
    </spa-scripts>
</spa-config>

<spa-dom-content>
    <div class="page-settings settings">

        <h4 style="margin: 0;">Application settings</h4>
        <p>Adjust the settings to whatever you prefer. Some settings may take effect when you restart the application. Do <b>not</b> forget to save the changes!</p>

        <fluent-input type="search" id="settings-search" placeholder="Enter search query" spellcheck="false" autocomplete="false"></fluent-input>

        <fluent-button id="save-settings">Save settings</fluent-button>
        <fluent-button id="restore-settings">Restore settings</fluent-button>

        <div class="settings-category">
            <div class="settings-category__title">Appearance & behavior</div>

            <div class="settings-category__setting">
                <div class="settings-category__setting__icon">
                    <img src="/static/media/icons/windows-color-icon-start.png" alt="Start" />
                </div>
                <div class="settings-category__setting__text">
                    <div class="settings-category__setting__text__title">Start with Windows</div>
                    <div class="settings-category__setting__text__description">Let Windows start Fluent Youtube Downloader automatically. Requires a restart*</div>
                </div>
                <div class="settings-category__setting__value">
                    <label id="setting-auto_start-label">Off</label>
                    <fluent-toggle for="#setting-auto_start-label" active-value="On" inactive-value="Off" id="behavior.autoStart" class="application-setting"></fluent-toggle>
                </div>
            </div>

            <div class="settings-category__setting">
                <div class="settings-category__setting__icon">
                    <img src="/static/media/icons/windows-color-icon-grid.png" alt="Grid" />
                </div>
                <div class="settings-category__setting__text">
                    <div class="settings-category__setting__text__title">System-tray icon</div>
                    <div class="settings-category__setting__text__description">Allow Fluent Youtube Downloader to be in the system-tray. Requires a restart*</div>
                </div>
                <div class="settings-category__setting__value">
                    <label id="setting-system_tray-label">Off</label>
                    <fluent-toggle for="#setting-system_tray-label" active-value="On" inactive-value="Off" id="behavior.systemTray" class="application-setting"></fluent-toggle>
                </div>
            </div>

            <div class="settings-category__setting">
                <div class="settings-category__setting__icon">
                    <img src="/static/media/icons/windows-color-icon-palette.png" alt="Theme" />
                </div>
                <div class="settings-category__setting__text">
                    <div class="settings-category__setting__text__title">Dark mode</div>
                    <div class="settings-category__setting__text__description">Enable dark-mode in Fluent Youtube Downloader.</div>
                </div>
                <div class="settings-category__setting__value">
                    <label id="setting-dark_mode-label">Off</label>
                    <fluent-toggle for="#setting-dark_mode-label" disabled active-value="On" inactive-value="Off" id="window.display.darkMode" class="application-setting"></fluent-toggle>
                </div>
            </div>

            <div class="settings-category__setting">
                <div class="settings-category__setting__icon">
                    <img src="/static/media/icons/windows-color-icon-picture.png" alt="Theme" />
                </div>
                <div class="settings-category__setting__text">
                    <div class="settings-category__setting__text__title">Application theme</div>
                    <div class="settings-category__setting__text__description">Changes the look of Fluent Youtube Downloader. Requires a restart*</div>
                </div>
                <div class="settings-category__setting__value">
                    <fluent-select id="window.display.theme" class="application-setting">
                        <fluent-option value="windows_fluent_light">Windows Fluent Light</fluent-option>
                        <fluent-option value="windows_fluent_dark">Windows Fluent Dark</fluent-option>
                    </fluent-select>
                </div>
            </div>

        </div>

        <div class="settings-category">
            <div class="settings-category__title">Paths & ports</div>

            <div class="settings-category__setting">
                <div class="settings-category__setting__icon">
                    <img src="/static/media/icons/windows-color-icon-downloads-folder.png" alt="Folder" />
                </div>
                <div class="settings-category__setting__text">
                    <div class="settings-category__setting__text__title">Download path</div>
                    <div class="settings-category__setting__text__description">Fluent YouTube Downloader will convert videos into any media file and save them to this directory.</div>
                </div>
                <div class="settings-category__setting__value">
                    <fluent-button id="select-download-path-button">Set</fluent-button>
                    <fluent-input class="application-setting fluent-input" spellcheck="false" id="path.downloadPath" placeholder="Not set"></fluent-input>
                </div>
            </div>

            <div class="settings-category__setting">
                <div class="settings-category__setting__icon">
                    <img src="/static/media/icons/windows-color-icon-processor.png" alt="Folder" />
                </div>
                <div class="settings-category__setting__text">
                    <div class="settings-category__setting__text__title">FFMPEG path</div>
                    <div class="settings-category__setting__text__description">Fluent Youtube Downloader will look for the ffmpeg.exe file within the given directory path.</div>
                </div>
                <div class="settings-category__setting__value">
                    <fluent-input class="application-setting fluent-input" spellcheck="false" value="Auto" disabled id="path.ffmpegPath" placeholder="Not set"></fluent-input>
                </div>
            </div>

            <div class="settings-category__setting">
                <div class="settings-category__setting__icon">
                    <img src="/static/media/icons/windows-color-icon-nodejs.png" alt="Network manager" />
                </div>
                <div class="settings-category__setting__text">
                    <div class="settings-category__setting__text__title">ExpressJS port</div>
                    <div class="settings-category__setting__text__description">ExpressJS is used to render the application. The default port is 8000. Requires a restart*</div>
                </div>
                <div class="settings-category__setting__value">
                    <fluent-input class="application-setting fluent-input" type="number" spellcheck="false" value="8000" id="server.port" placeholder="Not set"></fluent-input>
                </div>
            </div>
        </div>

        <div class="settings-category">
            <div class="settings-category__title">Other things</div>

            <div class="settings-category__setting">
                <div class="settings-category__setting__icon">
                    <img src="/static/media/icons/windows-color-icon-terminal.png" alt="Cmd" />
                </div>
                <div class="settings-category__setting__text">
                    <div class="settings-category__setting__text__title">Start options</div>
                    <div class="settings-category__setting__text__description">Configure options by entering arguments. Be cautious, as this might break the program. Requires a restart*</div>
                </div>
                <div class="settings-category__setting__value">
                    <fluent-input class="application-setting fluent-input" type="text" spellcheck="false" id="behavior.startOptions" placeholder="Not set"></fluent-input>
                </div>
            </div>

            <div class="settings-category__setting">
                <div class="settings-category__setting__icon">
                    <img src="/static/media/icons/windows-color-icon-extension.png" alt="Extension" />
                </div>
                <div class="settings-category__setting__text">
                    <div class="settings-category__setting__text__title">Extension password</div>
                    <div class="settings-category__setting__text__description">Allow the Fluent Youtube Downloader browser extension to connect to this application using a secured password.</div>
                </div>
                <div class="settings-category__setting__value">
                    <fluent-input class="application-setting fluent-input" type="password" spellcheck="false" id="server.extensionPassword" placeholder="Not set"></fluent-input>
                </div>
            </div>
        </div>
    </div>
</spa-dom-content>