$spinnerStrokeColor: #8a75b5;
$spinnerStrokeWidth: 6px;

.spinner {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 3px;
    overflow: visible;

    > circle {
        fill: none;
        stroke: $spinnerStrokeColor;
        cx: 50%;
        cy: 50%;
        r: 50%;
        stroke-width: $spinnerStrokeWidth;
        stroke-linecap: round;
        transform-origin: center;
    }
}
