@use "../utilities/_accents" as accents;
@use "../utilities/_constants" as constants;

$toggleMinWidth: 50px;
$toggleMinHeight: 10px;
$togglePadding: 5px;

$toggleThumbSize: 10px;

.styled-toggle {
    width: $toggleMinWidth;
    height: $toggleMinHeight;
    padding: $togglePadding;
    border-radius: 15px;
    border: 1px solid accents.$neutralToggleBorder;
    -webkit-app-region: none !important;
    -moz-transition: border-color constants.$transitionDuration constants.$transitionKey;
    -o-transition: border-color constants.$transitionDuration constants.$transitionKey;
    -webkit-transition: border-color constants.$transitionDuration constants.$transitionKey;
    transition: border-color constants.$transitionDuration constants.$transitionKey;

    &__thumb {
        width: $toggleThumbSize;
        height: $toggleThumbSize;
        border-radius: 50%;
        background: accents.$neutralToggleThumb;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        -moz-transition: left constants.$transitionDuration constants.$transitionKey;
        -o-transition: left constants.$transitionDuration constants.$transitionKey;
        -webkit-transition: left constants.$transitionDuration constants.$transitionKey;
        transition: left constants.$transitionDuration constants.$transitionKey;
    }

    &.active {
        background: accents.$neutralToggleActive;
        border-color: accents.$neutralToggleActive;

        .styled-toggle__thumb, &__thumb {
            left: calc(100% - ($toggleThumbSize));
        }
    }
}