@use "../utilities/_constants" as constants;
@use "../utilities/_mixins" as mixins;

@keyframes result-fadein {
    0% {
        opacity: 0;
        // @include mixins.BasicAnimationTransform;
    }
    100% {
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}

.page-convert {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 0;
    -moz-transition: grid-template-columns constants.$transitionDuration constants.$transitionKey;
    -o-transition: grid-template-columns constants.$transitionDuration constants.$transitionKey;
    -webkit-transition: grid-template-columns constants.$transitionDuration constants.$transitionKey;
    transition: grid-template-columns constants.$transitionDuration constants.$transitionKey;

    .convert__right {
        display: none;
    }

    &.in-video-info {
        grid-template-columns: auto 340px;
        gap: 40px;

        .convert__right {
            display: block;
        }
    }
}

.convert {

    &__left {
        display: grid;
        grid-template-rows: auto 50px;
        grid-gap: 40px;

        &__content {
            display: grid;
            grid-template-rows: 60px auto;
            gap: 40px;

            &__scroller {
                height: calc(100vh - 310px);
                padding-right: 20px;
                overflow-x: hidden;
                overflow-y: scroll;
            }

            .convert-results {
                &__result {
                    width: 100%;
                    height: 200px;
                    position: relative;
                    content: "";
                    padding-bottom: 20px;
                    border-radius: 5px;
                    display: grid;
                    grid-template-columns: 370px auto;
                    gap: 40px;
                    -moz-animation: result-fadein constants.$transitionDuration constants.$transitionKey;
                    -o-animation: result-fadein constants.$transitionDuration constants.$transitionKey;
                    -webkit-animation: result-fadein constants.$transitionDuration constants.$transitionKey;
                    animation: result-fadein constants.$transitionDuration constants.$transitionKey;

                    &::before {
                        width: 20px;
                        height: 100%;
                        /*background: linear-gradient(to right, transparent, accents.$neutralAccentDark, accents.$neutralAccentDark);*/
                        background: var(--primary-background-color);
                        position: absolute;
                        right: -20px;
                        top: 0;
                        content: "";
                    }

                    &__thumbnail {
                        overflow: hidden;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }

                    &__info {
                        display: block;

                        &__title, &__author {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: inline-block;
                        }

                        &__title {
                            width: 100%;
                            font-size: 27px;
                            font-weight: 400;
                        }

                        &__author {
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 28px;

                            img {
                                width: 30px;
                                height: 30px;
                                float: left;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                        }

                        &__description {
                            font-size: 13px;
                            margin: 20px 0;
                            overflow: hidden;
                            max-height: 55px;
                        }

                        &__button-container {
                            display: block;
                        }

                        &__button {
                            width: auto;
                            height: auto;
                            background: padding-box linear-gradient(var(--control-background-color), var(--control-background-color)), border-box linear-gradient(var(--control-primary-border-color), var(--control-secondary-border-color));
                            border: 1px solid transparent;
                            box-sizing: border-box;
                            display: inline-block;
                            padding: 5px 40px;
                            border-radius: 5px;
                            font-size: 14px;
                            line-height: 20px;
                            user-select: none;

                            &:not(:active):hover {
                                background: padding-box linear-gradient(var(--control-background-color-hover), var(--control-background-color-hover)), border-box linear-gradient(var(--control-primary-border-color-hover), var(--control-secondary-border-color-hover));
                                color: var(--control-secondary-text-color);
                            }
                        }

                        &__select {
                            display: inline-block;
                        }

                        &__progression {
                            width: 100%;
                            height: 30px;
                            display: none;

                            &__spinner,
                            &__text {
                                float: left;
                                margin-right: 10px;
                            }

                            &__spinner {
                                width: 30px;
                                height: 30px;

                                > circle {
                                    stroke-width: 3px;
                                }
                            }

                            &__text {
                                font-size: 13px;
                                line-height: 26px;
                            }
                        }
                    }

                    &.downloading {
                        .convert-results__result__info__button-container {
                            display: none;
                        }

                        .convert-results__result__info__progression {
                            display: block;
                        }
                    }

                    &.skeleton {

                        .convert-results__result__thumbnail,
                        .convert-results__result__info__title,
                        .convert-results__result__info__author,
                        .convert-results__result__info__description,
                        .convert-results__result__info__button {
                            background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--skeleton-blink-color), rgba(255, 255, 255, 0));
                            background-color: var(--skeleton-background-color);
                            background-size: 40px 100%;
                            background-repeat: no-repeat;
                            background-position: left -40px top 0;
                            animation: shine 1s infinite ease;
                            border-radius: 5px;
                            border: none;
                        }

                        .convert-results__result__thumbnail {
                            display: flex;
                            justify-content: center;
                            justify-items: center;
                            align-items: center;
                        }

                        .convert-results__result__info__title {
                            width: 90%;
                            height: 25px;
                        }

                        .convert-results__result__info__author {
                            width: 60%;
                            height: 15px;
                        }

                        .convert-results__result__info__description {
                            width: 56%;
                            height: 45px;
                        }

                        .convert-results__result__info__button {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }

        .grid {
            border-radius: 5px;
            background: var(--secondary-background-color);
            display: grid;
            grid-template-columns: auto 60px;

            &__input {
                padding: 0px 20px;
                font-size: 14px;
                line-height: 47px;
                content: "";
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &::before, &::after {
                    content: "";
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                    margin: auto;
                    z-index: 1;
                }

                &::before {
                    width: 20px;
                    height: 20px;
                    pointer-events: none;
                    left: 20px;
                    background: url(/static/media/icons/windows-icon-add.png);
                    background-size: 100% 100%;
                    filter: var(--icon-filter);
                }

                &::after {
                    content: attr(placeholder);
                    left: 50px;
                    font-size: 14px;
                    top: 1px;
                    color: var(--primary-text-color);
                }

                &:focus, &:not(:empty) {

                    &::before, &::after {
                        opacity: 0;
                    }
                }
            }

            &__buttons {
                display: block;

                &__button {
                    width: auto;
                    height: 50px;
                    padding: 15px 5px;
                    float: left;

                    img {
                        @include mixins.StaticIcon;
                        -moz-filter: var(--icon-filter);
                        -webkit-filter: var(--icon-filter);
                        filter: var(--icon-filter);
                    }
                }
            }
        }
    }

    &__right {
        padding: 20px;
        background: var(--secondary-background-color);
        border-radius: 5px;

        &__scroller {
            width: 100%;
            height: 100%;
            max-height: calc(100vh - 160px);
            overflow-x: hidden;
            overflow-y: auto;
        }

        .video-info {

            &__thumbnail {
                width: 100%;
                height: 160px;
                position: relative;

                &__image {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: 5px;
                }

                &__author {
                    width: calc(100% - 30px);
                    height: 30px;
                    position: absolute;
                    padding: 5px;
                    left: 10px;
                    bottom: 10px;
                    z-index: 1;
                    border-radius: 5px;
                    background: var(--secondary-background-color);

                    &__image {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        float: left;
                    }

                    &__text {
                        width: calc(100% - 40px);
                        float: left;
                        margin-left: 10px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 29px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            &__title {
                width: 100%;
                height: auto;
                text-align: center;
                font-size: 22px;
                font-weight: 400;
                margin-top: 20px;
            }

            &__hl {
                width: 75px;
                height: 3px;
                background: var(--accent-color);
                border-radius: 5px;
                margin: 20px auto;
            }

            &__item {
                width: 100%;
                height: 20px;
                display: grid;
                grid-template-columns: 20px auto;
                gap: 20px;
                padding: 5px;

                &__icon {
                    width: 20px;
                    height: 20px;
                    opacity: .3;
                }

                &__text {
                    font-size: 13px;
                    line-height: 20px;
                }
            }

            &__description {
                font-size: 12px;
            }
        }
    }
}