@use "../utilities/_constants" as constants;
@use "../utilities/_mixins" as mixins;

.controls {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: auto 400px;
    grid-gap: 20px;
    gap: 20px;

    &__buttons {

    }
}

.history-container {
    width: 100%;
    height: auto;
    margin: 60px 0;
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;
}

.history-item {
    width: calc(100% - 20px);
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 270px auto 280px;
    grid-gap: 20px;
    gap: 20px;
    border-radius: 5px;
    /*border-left: 5px solid #d6cfe5;*/
    background: var(--third-background-color);

    &__thumbnail {
        width: auto;
        height: auto;

        img {
            @include mixins.StaticIcon;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__filename {
        font-size: 20px;
        font-weight: 600;
    }

    &__timestamp {
        font-size: 12px;
    }

    &__hl {
        width: 100px;
        height: 2px;
        margin: 20px 0;
        background: var(--accent-color);
        border-radius: 5px;
    }

    &__detail {
        font-size: 12px;
    }

    &__buttons {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-auto-rows: auto;
        gap: 5px;

        fluent-button {
            width: 150px;
        }
    }

    &.hidden {
        display: none;
    }
}