@use "../utilities/_constants" as constants;
@use "../utilities/_mixins" as mixins;

.history-container {
    width: 100%;
    height: auto;
    margin: 60px 0;
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;
}

.history-item {
    width: calc(100% - 20px);
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 270px auto 280px;
    grid-gap: 20px;
    gap: 20px;
    border-radius: 5px;
    /*border-left: 5px solid #d6cfe5;*/
    background: var(--third-background-color);

    &__thumbnail {
        width: auto;
        height: auto;

        img {
            @include mixins.StaticIcon;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__filename {
        font-size: 20px;
        font-weight: 600;
    }

    &__timestamp {
        font-size: 12px;
    }

    &__hl {
        width: 100px;
        height: 2px;
        margin: 20px 0;
        background: var(--accent-color);
        border-radius: 5px;
    }

    &__detail {
        font-size: 12px;
    }

    &__buttons {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-auto-rows: auto;
        gap: 5px;

        &__button {
            width: auto;
            height: auto;
            background: padding-box linear-gradient(var(--control-background-color), var(--control-background-color)), border-box linear-gradient(var(--control-primary-border-color), var(--control-secondary-border-color));
            border: 1px solid transparent;
            box-sizing: border-box;
            display: inline-block;
            padding: 5px 40px;
            border-radius: 5px;
            font-size: 14px;
            line-height: 20px;
            color: var(--control-primary-text-color);
            user-select: none;
            text-align: center;

            img {
                @include mixins.StaticIcon;
            }

            &:not(:active):hover {
                background: padding-box linear-gradient(var(--control-background-color-hover), var(--control-background-color-hover)), border-box linear-gradient(var(--control-primary-border-color-hover), var(--control-secondary-border-color-hover));
                color: var(--control-secondary-text-color);
            }
        }
    }
}