@use "../utilities/_constants" as constants;
@use "../utilities/_accents" as accents;
@use "../utilities/_mixins" as mixins;

.app-titlebar {
    width: calc(constants.$titleBarWidth - (constants.$titleBarHorizontalPadding * 2));
    height: constants.$titleBarHeight;
    padding: constants.$titleBarVerticalPadding constants.$titleBarHorizontalPadding;
    background-color: accents.$neutralAccent;
    display: grid;
    grid-template-columns: auto auto constants.$titleBarControlsContainerWidth;
    gap: 40px;
    font-size: constants.$titleBarFontSize;
    -webkit-app-region: drag !important;
}

.titlebar {

    &__centered {
        display: flex;
        justify-content: right;
        gap: 10px;

        &__toggle-wrapper {
            display: flex;
            gap: 10px;

            label {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }

    &__control-buttons {
        display: grid;
        grid-template-columns: repeat(3, constants.$titleBarControlButtonSize);
        gap: 20px;
        justify-content: center;
        align-items: center;
        -webkit-app-region: none !important;

        &__button {
            height: constants.$titleBarControlButtonSize;

            img {
                @include mixins.StaticIcon;
            }
        }
    }
}

body.theme-dark {
    .app-titlebar {
        background-color: accents.$themedNeutralAccent;
    }
}