@use "../utilities/_constants" as constants;

.app-titlebar {
    width: calc(constants.$titleBarWidth - (constants.$titleBarHorizontalPadding * 2));
    height: constants.$titleBarHeight;
    padding: constants.$titleBarVerticalPadding constants.$titleBarHorizontalPadding;
    background-color: var(--secondary-background-color);
    display: grid;
    grid-template-columns: auto auto constants.$titleBarControlsContainerWidth;
    gap: 40px;
    font-size: constants.$titleBarFontSize;
    -webkit-app-region: drag !important;
}

.titlebar {

    &__centered {
        display: flex;
        justify-content: right;
        gap: 10px;

        &__toggle-wrapper {
            display: flex;
            gap: 10px;

            label {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
}